In [1]:
import pandas as pd
cl = pd.read_csv('../dataset/premier/transformed/transformed_premier_1819_2.csv')
cl.head()

,match_date,match_hour,match_round,home_team,away_team,home_goals,away_goals,10bet_1,10bet_X,10bet_2,...,william hill_opening_1,william hill_opening_X,william hill_opening_2,youwin_1,youwin_X,youwin_2,youwin_opening_1,youwin_opening_X,youwin_opening_2,league_year
0,12.05.2019,16:00,38,Brighton,Manchester City,1,4,12.25,6.90,1.18,...,34.00,9.0,1.10,13.00,7.5,1.11,19.00,9.75,1.08,2018
1,12.05.2019,16:00,38,Burnley,Arsenal,1,3,2.45,3.45,2.65,...,4.33,3.8,1.80,2.40,3.3,2.55,3.90,3.75,1.80,2018
2,12.05.2019,16:00,38,Crystal Palace,Bournemouth,5,3,1.74,4.00,4.05,...,2.00,3.6,3.75,1.70,3.9,3.90,1.83,3.75,3.75,2018
3,12.05.2019,16:00,38,Fulham,Newcastle,0,4,2.35,3.35,2.80,...,3.00,3.3,2.40,2.30,3.3,2.70,2.65,3.50,2.40,2018
4,12.05.2019,16:00,38,Leicester,Chelsea,0,0,2.30,3.45,2.85,...,3.90,3.4,2.00,2.27,3.3,2.70,3.50,3.50,1.98,2018

In [2]:
sorted(set(cl.home_team))

['Arsenal',
 'Bournemouth',
 'Brighton',
 'Burnley',
 'Cardiff',
 'Chelsea',
 'Crystal Palace',
 'Everton',
 'Fulham',
 'Huddersfield',
 'Leicester',
 'Liverpool',
 'Manchester City',
 'Manchester Utd',
 'Newcastle',
 'Southampton',
 'Tottenham',
 'Watford',
 'West Ham',
 'Wolves']

In [22]:
cl.to_csv('transformed_premier_1819_2.csv', index=False)