In [1]:
import pandas as pd
cl = pd.read_csv('../dataset/premier/transformed/transformed_premier_1415_2.csv')
cl['league_year']=2018
cl.head()

,match_date,match_hour,match_round,home_team,away_team,home_goals,away_goals,10bet_1,10bet_X,10bet_2,...,william hill_opening_1,william hill_opening_X,william hill_opening_2,youwin_1,youwin_X,youwin_2,youwin_opening_1,youwin_opening_X,youwin_opening_2,league_year
0,24.05.2015,16:00,38,Arsenal,West Brom,4,1,1.33,5.45,8.50,...,1.33,5.0,9.0,1.31,5.63,9.04,1.27,5.84,10.79,2018
1,24.05.2015,16:00,38,Aston Villa,Burnley,0,1,2.15,3.40,3.35,...,2.05,3.4,3.6,2.19,3.42,3.32,2.10,3.51,3.47,2018
2,24.05.2015,16:00,38,Chelsea,Sunderland,3,1,1.28,5.70,10.25,...,1.40,5.0,7.0,1.25,6.04,11.73,1.34,5.44,8.50,2018
3,24.05.2015,16:00,38,Crystal Palace,Swansea,1,0,1.77,3.75,4.65,...,2.25,3.4,3.1,1.73,3.90,4.64,2.30,3.29,3.21,2018
4,24.05.2015,16:00,38,Everton,Tottenham,0,1,2.25,3.50,3.05,...,2.40,3.5,2.8,2.28,3.56,3.02,2.52,3.42,2.77,2018

In [3]:
sorted(set(cl.home_team))

['Arsenal',
 'Aston Villa',
 'Burnley',
 'Chelsea',
 'Crystal Palace',
 'Everton',
 'Hull',
 'Leicester',
 'Liverpool',
 'Manchester City',
 'Manchester Utd',
 'Newcastle',
 'QPR',
 'Southampton',
 'Stoke',
 'Sunderland',
 'Swansea',
 'Tottenham',
 'West Brom',
 'West Ham']

In [22]:
cl.to_csv('transformed_premier_1819_2.csv', index=False)