In [1]:
import pandas as pd
calendar = pd.read_csv("../dataset/premier/original/1/premier_1819_1.csv")
calendar.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,...,1.79,17,-0.75,1.75,1.70,2.29,2.21,1.55,4.07,7.69
1,E0,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,H,...,1.83,20,-0.75,2.20,2.13,1.80,1.75,1.88,3.61,4.70
2,E0,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,A,...,1.87,22,-0.25,2.18,2.11,1.81,1.77,2.62,3.38,2.90
3,E0,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,A,...,1.84,23,1.00,1.84,1.80,2.13,2.06,7.24,3.95,1.58
4,E0,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,A,...,1.81,20,0.25,2.20,2.12,1.80,1.76,4.74,3.53,1.89

In [2]:
calendar = calendar[['Date','HomeTeam','AwayTeam','FTHG','FTAG']]
calendar.head()

         Date      HomeTeam        AwayTeam  FTHG  FTAG
0  10/08/2018    Man United       Leicester     2     1
1  11/08/2018   Bournemouth         Cardiff     2     0
2  11/08/2018        Fulham  Crystal Palace     0     2
3  11/08/2018  Huddersfield         Chelsea     0     3
4  11/08/2018     Newcastle       Tottenham     1     2

In [3]:
label = []
for hg,ag in zip(calendar.FTHG, calendar.FTAG):
    if hg>ag: label.append(1)
    elif hg==ag: label.append(0)
    else:label.append(2)
calendar['label'] = label

calendar.head(10)

         Date      HomeTeam        AwayTeam  FTHG  FTAG  label
0  10/08/2018    Man United       Leicester     2     1      1
1  11/08/2018   Bournemouth         Cardiff     2     0      1
2  11/08/2018        Fulham  Crystal Palace     0     2      2
3  11/08/2018  Huddersfield         Chelsea     0     3      2
4  11/08/2018     Newcastle       Tottenham     1     2      2
5  11/08/2018       Watford        Brighton     2     0      1
6  11/08/2018        Wolves         Everton     2     2      0
7  12/08/2018       Arsenal        Man City     0     2      2
8  12/08/2018     Liverpool        West Ham     4     0      1
9  12/08/2018   Southampton         Burnley     0     0      0

In [4]:
# ora carichiamo i dataframes
df = pd.read_csv("../scrapers/facebook/my_scraper/transf_data/Arsenal_transf.csv")
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,7_day_before_like,7_day_before_love,7_day_before_wow,7_day_before_sorry,7_day_before_anger,7_day_before_haha,team
0,12/08/2018,Arsenal,Man City,0,2,67291,4496,337,15,2118,23,Arsenal
1,18/08/2018,Chelsea,Arsenal,3,2,121544,12690,577,282,445,248,Arsenal
2,25/08/2018,Arsenal,West Ham,3,1,72736,4272,471,632,2888,2205,Arsenal
3,02/09/2018,Cardiff,Arsenal,2,3,170809,7224,536,73,8441,87,Arsenal
4,15/09/2018,Newcastle,Arsenal,1,2,174287,8781,658,55,1383,47,Arsenal

In [5]:
c = calendar.copy()
c['7_day_before_like_home'] = -1
c['7_day_before_love_home'] = -1
c['7_day_before_wow_home'] = -1
c['7_day_before_sorry_home'] = -1
c['7_day_before_haha_home'] = -1
c['7_day_before_anger_home'] = -1
c['7_day_before_like_away'] = -1
c['7_day_before_love_away'] = -1
c['7_day_before_wow_away'] = -1
c['7_day_before_sorry_away'] = -1
c['7_day_before_haha_away'] = -1
c['7_day_before_anger_away'] = -1

In [6]:
# res = pd.merge(calendar, df.drop(["Date","HomeTeam","FTHG","FTAG"],axis=1), how="left", left_on=["HomeTeam","AwayTeam"], \
#                right_on=["team","AwayTeam"], suffixes=('_home')).drop(['team'], axis=1)
# res = pd.merge(res, df.drop(["Date","AwayTeam","FTHG","FTAG"],axis=1), how="left", left_on=["HomeTeam","AwayTeam"], \
#                right_on=["HomeTeam","team"], suffixes=('_away')).drop(['team'], axis=1)
# res.head(20)

In [7]:
res = calendar.merge(df.drop(["Date","HomeTeam","FTHG","FTAG"],axis=1), left_on=["HomeTeam","AwayTeam"], \
               right_on=["team","AwayTeam"], suffixes=('_home','_home')).drop(['team'], axis=1)
res

,Date,HomeTeam,AwayTeam,FTHG,FTAG,label,7_day_before_like,7_day_before_love,7_day_before_wow,7_day_before_sorry,7_day_before_anger,7_day_before_haha
0,12/08/2018,Arsenal,Man City,0,2,2,67291,4496,337,15,2118,23
1,25/08/2018,Arsenal,West Ham,3,1,1,72736,4272,471,632,2888,2205
2,23/09/2018,Arsenal,Everton,2,0,1,67202,5698,226,48,266,79
3,29/09/2018,Arsenal,Watford,2,0,1,186226,14365,1006,181,1717,125
4,22/10/2018,Arsenal,Leicester,3,1,1,262289,17939,2514,45,802,23
5,03/11/2018,Arsenal,Liverpool,1,1,0,276378,11824,1309,361,2658,90
6,11/11/2018,Arsenal,Wolves,1,1,0,719778,37717,13416,210,1097,213
7,02/12/2018,Arsenal,Tottenham,4,2,1,5616,847,29,2,26,7
8,08/12/2018,Arsenal,Huddersfield,1,0,1,23867,2709,94,586,210,1085
9,22/12/2018,Arsenal,Burnley,3,1,1,12822,766,58,857,433,1691
10,01/01/2019,Arsenal,Fulham,4,1,1,9529,635,74,536,1331,2423
11,19/01/2019,Arsenal,Chelsea,2,0,1,86866,4825,265,672,2666,3522
12,29/01/2019,Arsenal,Cardiff,2,1,1,21993,1761,122,392,891,1584
13,24/02/2019,Arsenal,Southampton,2,0,1,79078,7676,308,189,1140,152
14,27/02/2019,Arsenal,Bournemouth,5,1,1,115912,10952,449,154,1233,323
15,10/03/2019,Arsenal,Man United,2,0,1,128868,8703,1876,352,930,1608
16,01/04/2019,Arsenal,Newcastle,2,0,1,86910,5438,324,177,611,60
17,21/04/2019,Arsenal,Crystal Palace,2,3,2,175471,15476,1438,89,639,308
18,05/05/2019,Arsenal,Brighton,1,1,0,150622,18688,431,11423,2387,3354

In [8]:
t = pd.read_csv(f"../scrapers/facebook/my_scraper/transf_data/afcbournemouth_transf.csv")

In [9]:
res2 = calendar.merge(t.drop(["Date","HomeTeam","FTHG","FTAG"],axis=1), left_on=["HomeTeam","AwayTeam"], \
               right_on=["team","AwayTeam"], suffixes=('_home','_home')).drop(['team'], axis=1)

In [10]:
pd.concat([res,res2]).reset_index(drop=True)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,label,7_day_before_like,7_day_before_love,7_day_before_wow,7_day_before_sorry,7_day_before_anger,7_day_before_haha
0,12/08/2018,Arsenal,Man City,0,2,2,67291,4496,337,15,2118,23
1,25/08/2018,Arsenal,West Ham,3,1,1,72736,4272,471,632,2888,2205
2,23/09/2018,Arsenal,Everton,2,0,1,67202,5698,226,48,266,79
3,29/09/2018,Arsenal,Watford,2,0,1,186226,14365,1006,181,1717,125
4,22/10/2018,Arsenal,Leicester,3,1,1,262289,17939,2514,45,802,23
5,03/11/2018,Arsenal,Liverpool,1,1,0,276378,11824,1309,361,2658,90
6,11/11/2018,Arsenal,Wolves,1,1,0,719778,37717,13416,210,1097,213
7,02/12/2018,Arsenal,Tottenham,4,2,1,5616,847,29,2,26,7
8,08/12/2018,Arsenal,Huddersfield,1,0,1,23867,2709,94,586,210,1085
9,22/12/2018,Arsenal,Burnley,3,1,1,12822,766,58,857,433,1691
10,01/01/2019,Arsenal,Fulham,4,1,1,9529,635,74,536,1331,2423
11,19/01/2019,Arsenal,Chelsea,2,0,1,86866,4825,265,672,2666,3522
12,29/01/2019,Arsenal,Cardiff,2,1,1,21993,1761,122,392,891,1584
13,24/02/2019,Arsenal,Southampton,2,0,1,79078,7676,308,189,1140,152
14,27/02/2019,Arsenal,Bournemouth,5,1,1,115912,10952,449,154,1233,323
15,10/03/2019,Arsenal,Man United,2,0,1,128868,8703,1876,352,930,1608
16,01/04/2019,Arsenal,Newcastle,2,0,1,86910,5438,324,177,611,60
17,21/04/2019,Arsenal,Crystal Palace,2,3,2,175471,15476,1438,89,639,308
18,05/05/2019,Arsenal,Brighton,1,1,0,150622,18688,431,11423,2387,3354
19,11/08/2018,Bournemouth,Cardiff,2,0,1,2594,152,17,0,13,1
20,25/08/2018,Bournemouth,Everton,2,2,0,1320,96,2,1,7,2
21,15/09/2018,Bournemouth,Leicester,4,2,1,518,34,1,0,0,0
22,01/10/2018,Bournemouth,Crystal Palace,2,1,1,951,53,6,1,5,0
23,20/10/2018,Bournemouth,Southampton,0,0,0,139,7,0,0,0,0
24,03/11/2018,Bournemouth,Man United,1,2,2,2108,189,7,0,2,0
25,25/11/2018,Bournemouth,Arsenal,1,2,2,199,18,1,0,1,0
26,04/12/2018,Bournemouth,Huddersfield,2,1,1,0,0,0,0,0,0
27,08/12/2018,Bournemouth,Liverpool,0,4,2,1122,113,1,1,2,0
28,22/12/2018,Bournemouth,Brighton,2,0,1,781,46,2,0,1,1
29,02/01/2019,Bournemouth,Watford,3,3,0,607,66,0,0,0,0
30,19/01/2019,Bournemouth,West Ham,2,0,1,843,27,5,1,2,4
31,30/01/2019,Bournemouth,Chelsea,4,0,1,1624,60,21,1,4,1
32,23/02/2019,Bournemouth,Wolves,1,1,0,1043,70,0,1,1,0
33,02/03/2019,Bournemouth,Man City,0,1,2,2352,152,13,5,12,6
34,16/03/2019,Bournemouth,Newcastle,2,2,0,11705,191,40,1,8,0
35,06/04/2019,Bournemouth,Burnley,1,3,2,934,30,2,1,4,2
36,20/04/2019,Bournemouth,Fulham,0,1,2,720,33,1,0,1,0
37,04/05/2019,Bournemouth,Tottenham,1,0,1,10322,448,37,359,7,4

# Ora facciamolo per tutti

In [11]:
# team name as in calendar + page name
DIR_TEAM_PAGES = {
        'Arsenal': 'Arsenal',
        'Bournemouth': 'afcbournemouth',
        'Brighton': 'officialbhafc',
        'Burnley': 'officialburnleyfc',
        'Cardiff': 'cardiffcityfc',
        'Chelsea': 'ChelseaFC',
        'Crystal Palace': 'officialcpfc',
        'Everton': 'Everton',
        'Fulham': 'FulhamFC',
        'Huddersfield': 'htafc',
        'Leicester': 'lcfc',
        'Liverpool': 'LiverpoolFC',
        'Man City': 'mancity',
        'Man United': 'manchesterunited',
        'Newcastle': 'newcastleunited',
        'Southampton': 'southamptonfc',
        'Tottenham': 'TottenhamHotspur',
        'Watford': 'watfordfc',
        'West Ham': 'WestHam',
        'Wolves': 'Wolves'
}

In [12]:
final_df = pd.DataFrame()
# first add home team reaction
for team in DIR_TEAM_PAGES:
    # ora carichiamo i dataframes
    df = pd.read_csv(f"../scrapers/facebook/my_scraper/transf_data/{DIR_TEAM_PAGES[team]}_transf.csv")
    tmp = calendar.merge(df.drop(["Date","HomeTeam","FTHG","FTAG"],axis=1), left_on=["HomeTeam","AwayTeam"], \
               right_on=["team","AwayTeam"]).drop(['team'], axis=1)
    final_df = pd.concat([final_df, tmp]).reset_index(drop=True)

In [13]:
# now for away team
final_final_df = pd.DataFrame()
for team in DIR_TEAM_PAGES:
    # ora carichiamo i dataframes
    df = pd.read_csv(f"../scrapers/facebook/my_scraper/transf_data/{DIR_TEAM_PAGES[team]}_transf.csv")
    tmp = final_df.merge(df.drop(["Date","AwayTeam","FTHG","FTAG"],axis=1), left_on=["HomeTeam","AwayTeam"], \
               right_on=["HomeTeam","team"]).drop(['team'], axis=1)
    final_final_df = pd.concat([final_final_df, tmp]).reset_index(drop=True)

In [14]:
final_final_df.to_csv("premier_reactions_2018.csv", index=False)

# Ora proviamo un modello

In [15]:
dataset = final_final_df.sort_values(by=["Date","HomeTeam","AwayTeam"]).reset_index(drop=True)

In [16]:
dataset = dataset.drop(["Date","HomeTeam","AwayTeam","FTHG","FTAG"], axis=1)

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [18]:
# X_train, X_test, y_train, y_test = train_test_split(dataset.drop(['label'],axis=1), dataset['label'], test_size=0.2, random_state=0)

In [19]:
train = dataset[:-100] 
validation = dataset[-100:-50] 
test = dataset[-50:]
X_train, y_train = train.drop(['label'], axis=1), train['label']
X_validation, y_validation = validation.drop(['label'], axis=1), validation['label']
X_test, y_test = test.drop(['label'], axis=1), test['label']

In [29]:
sorted(X_train)

['7_day_before_anger_x',
 '7_day_before_anger_y',
 '7_day_before_haha_x',
 '7_day_before_haha_y',
 '7_day_before_like_x',
 '7_day_before_like_y',
 '7_day_before_love_x',
 '7_day_before_love_y',
 '7_day_before_sorry_x',
 '7_day_before_sorry_y',
 '7_day_before_wow_x',
 '7_day_before_wow_y']

In [20]:
logreg = LogisticRegression(penalty='l2')
logreg.fit(pd.concat([X_train, X_validation]), pd.concat([y_train, y_validation]))

y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.58

C:\Users\BlueAce17\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\BlueAce17\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

# Proviamo LightGBM

In [21]:
import lightgbm as lgb

In [22]:
model = lgb.LGBMClassifier(max_depth=2,learning_rate=0.01, n_estimators=100, num_leaves=10,min_child_samples=10)
model.fit(pd.concat([X_train, X_validation]), pd.concat([y_train, y_validation]))
predicted_y = model.predict(X_test)
correct = 0
for ind,true,predicted in zip(y_test.index, y_test, predicted_y):
    if true == predicted:
        correct+=1
correct*100 / y_test.shape[0]

56.0

# Proviamo LSTM

In [23]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM
import pandas as pd
import tensorflow as tf
import logging
import os
logging.basicConfig(level=logging.DEBUG)

# Set GPU memory growth
# Allows to only as much GPU memory as needed
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
  try:
    # Currently, memory growth needs to be the same across GPUs
    for gpu in gpus:
      tf.config.experimental.set_memory_growth(gpu, True)
    logical_gpus = tf.config.experimental.list_logical_devices('GPU')
    print(len(gpus), "Physical GPUs,", len(logical_gpus), "Logical GPUs")
  except RuntimeError as e:
    # Memory growth must be set before GPUs have been initialized
    print(e)

1 Physical GPUs, 1 Logical GPUs

In [24]:
import numpy as np
X_train_1 = pd.concat([X_train, X_validation]).to_numpy()
X_train_1 = np.reshape(X_train_1, (X_train_1.shape[0], 1, X_train_1.shape[1]))
y_train_1 = pd.concat([y_train, y_validation]).to_numpy()

In [25]:
tf.random.set_seed(17)
model = Sequential()
model.add(LSTM(200, input_shape=(X_train_1.shape[1], X_train_1.shape[2])))
model.add(Dense(32, activation='relu'))
model.add(Dense(3, activation='softmax'))

model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
es = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)
model.fit(X_train_1, y_train_1, validation_split=0.2, epochs=100, batch_size=50, callbacks=[es])

Train on 264 samples, validate on 66 samples
Epoch 1/100

WARNING: Logging before flag parsing goes to stderr.
W1014 16:17:05.045488 12608 ag_logging.py:146] Entity <function Function._initialize_uninitialized_variables.<locals>.initialize_variables at 0x0000025E0F5BB9D8> could not be transformed and will be executed as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: No module named 'tensorflow_core.estimator'

WARNING: Entity <function Function._initialize_uninitialized_variables.<locals>.initialize_variables at 0x0000025E0F5BB9D8> could not be transformed and will be executed as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: No module named 'tensorflow_core.estimator'
264/264 [==============================] - 5s 19ms/sample - loss: 1.1453 - accuracy: 0.3977 - val_loss: 1.0201 - val_accuracy: 0.4848
Epoch 2/100
264/264 [==============================] - 0s 125us/sample - loss: 0.9891 - accuracy: 0.5417 - val_loss: 0.9832 - val_accuracy: 0.4848
Epoch 3/100
264/264 [==============================] - 0s 111us/sample - loss: 0.9748 - accuracy: 0.5606 - val_loss: 0.9883 - val_accuracy: 0.5303
Epoch 4/100
264/264 [==============================] - 0s 112us/sample - loss: 0.9751 - accuracy: 0.5530 - val_loss: 0.9984 - val_accuracy: 0.5303
Epoch 5/100
264/264 [==============================] - 0s 113us/sample - loss: 0.9573 - accuracy: 0.5417 - val_loss: 0.9786 - val_accuracy: 0.5303
Epoch 6/100
264/264 [==============================] - 0s 109us/sample - loss: 0.9504 - accuracy: 0.5455 - val_loss: 1.0044 - val_accuracy: 0.4848
Epoch 7/100
264/264 [==============================] - 0s 112us/sample - loss: 0.9496 - accuracy: 0.5568 - val_loss: 0.9941 - val_accuracy: 0.5455
Epoch 8/100
264/264 [==============================] - 0s 108us/sample - loss: 0.9439 - accuracy: 0.5606 - val_loss: 0.9998 - val_accuracy: 0.5455
Epoch 9/100
264/264 [==============================] - 0s 106us/sample - loss: 0.9421 - accuracy: 0.5720 - val_loss: 1.0085 - val_accuracy: 0.5303
Epoch 10/100
264/264 [==============================] - 0s 109us/sample - loss: 0.9329 - accuracy: 0.5720 - val_loss: 1.0090 - val_accuracy: 0.5606
Epoch 11/100
264/264 [==============================] - 0s 111us/sample - loss: 0.9259 - accuracy: 0.5871 - val_loss: 1.0007 - val_accuracy: 0.5606
Epoch 12/100
264/264 [==============================] - 0s 112us/sample - loss: 0.9296 - accuracy: 0.5720 - val_loss: 1.0302 - val_accuracy: 0.5152
Epoch 13/100
264/264 [==============================] - 0s 117us/sample - loss: 0.9262 - accuracy: 0.5568 - val_loss: 1.0156 - val_accuracy: 0.5303
Epoch 14/100
264/264 [==============================] - 0s 108us/sample - loss: 0.9306 - accuracy: 0.5682 - val_loss: 1.0281 - val_accuracy: 0.5303
Epoch 15/100
264/264 [==============================] - 0s 117us/sample - loss: 0.9160 - accuracy: 0.5947 - val_loss: 1.0469 - val_accuracy: 0.5152

In [26]:
X_test_1 = X_test.to_numpy()
X_test_1 = np.reshape(X_test_1, (X_test_1.shape[0], 1, X_test_1.shape[1]))
y_test_1 = y_test.to_numpy()

In [27]:
pred = model.predict(tf.cast(X_test_1, tf.float32))
correct = 0
for ind,true,predicted in zip(test.index, test.label, pred.argmax(axis=-1)):
    if true == predicted:
        correct+=1
correct*100 / test.shape[0]

52.0