In [1]:
import pandas as pd
df = pd.read_csv('../dataset/serie_a/lightgbm/lightgbm_base_odds_serie_a.csv')
df = df.sort_values(by=['match_year','match_month','match_day','match_hour','match_round','home_team','away_team']).reset_index(drop=True)
df.head()

,10bet_1,10bet_2,10bet_X,10bet_opening_1,10bet_opening_2,10bet_opening_X,188bet_1,188bet_2,188bet_X,188bet_opening_1,...,youwin_1,youwin_2,youwin_X,youwin_opening_1,youwin_opening_2,youwin_opening_X,label,match_day,match_month,match_year
0,3.63,2.08,3.12,3.52,2.14,3.08,4.00,2.09,3.30,3.90,...,3.40,2.10,3.2,2.95,2.29,3.10,0,22,8,2009
1,4.19,1.89,3.20,4.28,1.83,3.25,4.34,1.97,3.35,4.30,...,4.00,1.91,3.2,3.70,1.95,NaN,2,22,8,2009
2,1.20,12.71,5.82,1.24,12.54,5.87,1.25,15.50,6.25,1.21,...,1.20,12.00,5.5,NaN,11.00,5.75,0,23,8,2009
3,2.69,2.70,3.16,2.65,2.74,3.12,2.80,2.75,3.20,2.74,...,2.50,2.75,3.1,2.40,NaN,NaN,2,23,8,2009
4,2.16,3.35,3.29,2.24,3.22,3.20,2.13,3.55,3.50,2.17,...,2.25,3.10,3.2,2.40,2.70,3.10,1,23,8,2009

In [3]:
df.shape

(3800, 143)

In [4]:
user_pref_df = pd.read_csv('../dataset/serie_a/transformed/user_prefs_serie_a.csv')
user_pref_df.head()

,match_year,match_round,home_team,away_team,ht_win_pred_transfer,draw_pred_transfer,at_win_pred_transfer
0,2009,1,Bologna,Fiorentina,4.8,19.0,76.2
1,2009,1,Siena,AC Milan,0.0,9.5,90.5
2,2009,1,Inter,Bari,100.0,0.0,0.0
3,2009,1,US Palermo,SSC Napoli,30.0,35.0,35.0
4,2009,1,AS Livorno,Cagliari Calcio,40.0,30.0,30.0

In [5]:
sorted(set(df.away_team))

['AC Milan',
 'AS Roma',
 'Atalanta',
 'Bari',
 'Benevento',
 'Bologna',
 'Brescia',
 'Cagliari',
 'Carpi',
 'Catania',
 'Cesena',
 'Chievo',
 'Crotone',
 'Empoli',
 'Fiorentina',
 'Frosinone',
 'Genoa',
 'Inter',
 'Juventus',
 'Lazio',
 'Lecce',
 'Livorno',
 'Napoli',
 'Novara',
 'Palermo',
 'Parma',
 'Pescara',
 'Sampdoria',
 'Sassuolo',
 'Siena',
 'Spal',
 'Torino',
 'Udinese',
 'Verona']

In [6]:
sorted(set(user_pref_df.away_team))

['AC Milan',
 'AS Livorno',
 'AS Roma',
 'Atalanta',
 'Bari',
 'Benevento',
 'Bologna',
 'Brescia',
 'Cagliari Calcio',
 'Carpi',
 'Catania',
 'Cesena',
 'Chievo Verona',
 'Crotone',
 'FC Empoli',
 'Fiorentina',
 'Frosinone',
 'Genoa',
 'Hellas Verona',
 'Inter',
 'Juventus',
 'Lazio',
 'Lecce',
 'Novara',
 'Parma',
 'Pescara',
 'SPAL',
 'SSC Napoli',
 'Sampdoria',
 'Sassuolo',
 'Siena',
 'Torino',
 'US Palermo',
 'Udinese',
 'Udinese Calcio']

In [7]:
user_pref_df.loc[user_pref_df.home_team == 'Cagliari Calcio', 'home_team'] = 'Cagliari'
user_pref_df.loc[user_pref_df.away_team == 'Cagliari Calcio', 'away_team'] = 'Cagliari'
user_pref_df.loc[user_pref_df.home_team == 'Chievo Verona', 'home_team'] = 'Chievo'
user_pref_df.loc[user_pref_df.away_team == 'Chievo Verona', 'away_team'] = 'Chievo'
user_pref_df.loc[user_pref_df.home_team == 'FC Empoli', 'home_team'] = 'Empoli'
user_pref_df.loc[user_pref_df.away_team == 'FC Empoli', 'away_team'] = 'Empoli'
user_pref_df.loc[user_pref_df.home_team == 'AS Livorno', 'home_team'] = 'Livorno'
user_pref_df.loc[user_pref_df.away_team == 'AS Livorno', 'away_team'] = 'Livorno'
user_pref_df.loc[user_pref_df.home_team == 'SSC Napoli', 'home_team'] = 'Napoli'
user_pref_df.loc[user_pref_df.away_team == 'SSC Napoli', 'away_team'] = 'Napoli'
user_pref_df.loc[user_pref_df.home_team == 'Udinese Calcio', 'home_team'] = 'Udinese'
user_pref_df.loc[user_pref_df.away_team == 'Udinese Calcio', 'away_team'] = 'Udinese'
user_pref_df.loc[user_pref_df.home_team == 'US Palermo', 'home_team'] = 'Palermo'
user_pref_df.loc[user_pref_df.away_team == 'US Palermo', 'away_team'] = 'Palermo'
user_pref_df.loc[user_pref_df.home_team == 'SPAL', 'home_team'] = 'Spal'
user_pref_df.loc[user_pref_df.away_team == 'SPAL', 'away_team'] = 'Spal'
user_pref_df.loc[user_pref_df.home_team == 'Hellas Verona', 'home_team'] = 'Verona'
user_pref_df.loc[user_pref_df.away_team == 'Hellas Verona', 'away_team'] = 'Verona'

In [8]:
sorted(set(user_pref_df.away_team)) == sorted(set(df.away_team)) and sorted(set(user_pref_df.home_team)) == sorted(set(df.home_team))

True

In [9]:
user_pref_df.sort_values(by=['match_year','match_round','home_team','away_team']).head(19)

,match_year,match_round,home_team,away_team,ht_win_pred_transfer,draw_pred_transfer,at_win_pred_transfer
0,2009,1,Bologna,Fiorentina,4.8,19.0,76.2
6,2009,1,Catania,Sampdoria,30.0,35.0,35.0
5,2009,1,Genoa,AS Roma,28.6,23.8,47.6
2,2009,1,Inter,Bari,100.0,0.0,0.0
9,2009,1,Juventus,Chievo,85.7,14.3,0.0
8,2009,1,Lazio,Atalanta,95.2,4.8,0.0
4,2009,1,Livorno,Cagliari,40.0,30.0,30.0
3,2009,1,Palermo,Napoli,30.0,35.0,35.0
1,2009,1,Siena,AC Milan,0.0,9.5,90.5
7,2009,1,Udinese,Parma,81.0,9.5,9.5
11,2009,2,AC Milan,Inter,20.0,55.0,25.0
12,2009,2,AS Roma,Juventus,9.5,28.6,61.9
13,2009,2,Atalanta,Genoa,19.0,28.6,52.4
10,2009,2,Bari,Bologna,36.8,36.8,26.3
17,2009,2,Cagliari,Siena,42.9,38.1,19.0
19,2009,2,Chievo,Lazio,4.5,13.6,81.8
16,2009,2,Fiorentina,Palermo,72.7,22.7,4.5
15,2009,2,Napoli,Livorno,90.5,9.5,0.0
18,2009,2,Parma,Catania,81.0,14.3,4.8

In [10]:
tmp_df = pd.merge(df, user_pref_df, on=['match_year', 'match_round','home_team','away_team'])
tmp_df.head()

,10bet_1,10bet_2,10bet_X,10bet_opening_1,10bet_opening_2,10bet_opening_X,188bet_1,188bet_2,188bet_X,188bet_opening_1,...,youwin_opening_1,youwin_opening_2,youwin_opening_X,label,match_day,match_month,match_year,ht_win_pred_transfer,draw_pred_transfer,at_win_pred_transfer
0,3.63,2.08,3.12,3.52,2.14,3.08,4.00,2.09,3.30,3.90,...,2.95,2.29,3.10,0,22,8,2009,4.8,19.0,76.2
1,4.19,1.89,3.20,4.28,1.83,3.25,4.34,1.97,3.35,4.30,...,3.70,1.95,NaN,2,22,8,2009,0.0,9.5,90.5
2,1.20,12.71,5.82,1.24,12.54,5.87,1.25,15.50,6.25,1.21,...,NaN,11.00,5.75,0,23,8,2009,100.0,0.0,0.0
3,2.69,2.70,3.16,2.65,2.74,3.12,2.80,2.75,3.20,2.74,...,2.40,NaN,NaN,2,23,8,2009,30.0,35.0,35.0
4,2.16,3.35,3.29,2.24,3.22,3.20,2.13,3.55,3.50,2.17,...,2.40,2.70,3.10,1,23,8,2009,28.6,23.8,47.6

In [11]:
final_df = tmp_df.drop(['match_date','home_team','away_team','home_goals','away_goals'], axis=1)
final_df = final_df.sort_values(by = ['match_year', 'match_month','match_day','match_hour','match_round']).reset_index(drop=True)
final_df.head()

,10bet_1,10bet_2,10bet_X,10bet_opening_1,10bet_opening_2,10bet_opening_X,188bet_1,188bet_2,188bet_X,188bet_opening_1,...,youwin_opening_1,youwin_opening_2,youwin_opening_X,label,match_day,match_month,match_year,ht_win_pred_transfer,draw_pred_transfer,at_win_pred_transfer
0,3.63,2.08,3.12,3.52,2.14,3.08,4.00,2.09,3.30,3.90,...,2.95,2.29,3.10,0,22,8,2009,4.8,19.0,76.2
1,4.19,1.89,3.20,4.28,1.83,3.25,4.34,1.97,3.35,4.30,...,3.70,1.95,NaN,2,22,8,2009,0.0,9.5,90.5
2,1.20,12.71,5.82,1.24,12.54,5.87,1.25,15.50,6.25,1.21,...,NaN,11.00,5.75,0,23,8,2009,100.0,0.0,0.0
3,2.69,2.70,3.16,2.65,2.74,3.12,2.80,2.75,3.20,2.74,...,2.40,NaN,NaN,2,23,8,2009,30.0,35.0,35.0
4,2.16,3.35,3.29,2.24,3.22,3.20,2.13,3.55,3.50,2.17,...,2.40,2.70,3.10,1,23,8,2009,28.6,23.8,47.6

In [12]:
print(f"# pareggi : {list(final_df.label).count(0)} ({list(final_df.label).count(0)*100/final_df.shape[0]:.2f})")
print(f"# vittorie casa : {list(final_df.label).count(1)} ({list(final_df.label).count(1)*100/final_df.shape[0]:.2f})")
print(f"# vittorie fuori casa : {list(final_df.label).count(2)} ({list(final_df.label).count(2)*100/final_df.shape[0]:.2f})")

# pareggi : 444 (25.69)
# vittorie casa : 803 (46.47)
# vittorie fuori casa : 481 (27.84)

In [13]:
final_df = final_df[['10bet_1','10bet_2','10bet_X','10bet_opening_1','10bet_opening_2','10bet_opening_X','at_win_pred_transfer','draw_pred_transfer','ht_win_pred_transfer','match_day','match_month','match_year','label']]

In [22]:
import lightgbm as lgb

from sklearn.model_selection import train_test_split

X = final_df.drop(['label'],axis=1)
y = final_df.label

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,shuffle=False)

model = lgb.LGBMClassifier(learning_rate=0.1,
                          num_leaves=5, n_estimators=100, reg_lambda=0.05,
                           reg_alpha=0.0
                          )
model.fit(X_train, y_train)

# mio modello
predicted_y = model.predict(X_test)
correct = 0
for ind,true,predicted in zip(y_test.index, y_test, predicted_y):
    if true == predicted:
        correct+=1
correct*100 / y_test.shape[0]

57.80346820809248

In [23]:
# baseline che usa solo le quote
result = []
for p1,pX,p2 in zip(X_test['10bet_1'], X_test['10bet_X'], X_test['10bet_2']):
    if min([p1,pX,p2]) == p1: result.append(1)
    elif min([p1,pX,p2]) == pX: result.append(0)
    else: result.append(2)

correct = 0
for ind,true,predicted in zip(y_test.index, y_test, result):
    if true == predicted:
        correct+=1
correct*100 / y_test.shape[0]

57.225433526011564

In [24]:
# baseline che usa solo le predictions
result = []
for p1,pX,p2 in zip(X_test['ht_win_pred_transfer'], X_test['draw_pred_transfer'], X_test['at_win_pred_transfer']):
    if max([p1,pX,p2]) == p1: result.append(1)
    elif max([p1,pX,p2]) == pX: result.append(0)
    else: result.append(2)

correct = 0
for ind,true,predicted in zip(y_test.index, y_test, result):
    if true == predicted:
        correct+=1
correct*100 / y_test.shape[0]

56.358381502890175

In [17]:
# mio modello
predicted_y = model.predict(X_test, raw_score =True)
predicted_y.shape

(87, 3)